
.loadingModal {
	position: fixed;
	background: #ffffff99;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 5;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .4s;
}

.loadingModal.loadingModal--hidden {
	opacity: 0;
	visibility: hidden;
}

.loadingModal .spinner-border {
	width: 35px;
	height: 35px;
	border-width: 4px;
	border-color: var(--orange);
	border-right-color: transparent;
}

.loading {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 60px);
    background: #ffffff70;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loading .spinner-border {
    width: 40px;
    height: 40px;
    border-width: 5px;
    border-color: #ff6315;
    border-right-color: transparent;
  }