<div class="modal" [class.active]="modalOpen">
	<div class="modal__bg" (click)="voltar()"></div>
	<div class="modal__inner" style="max-width: 600px;">
		<div class="modal__content">
			<div class="modal__header">
				<h3 class="text-orange">Adicionar produto</h3>
				<a (click)="voltar()" class="modal__header-close btn-close">
					<span></span>
					<span></span>
				</a>
			</div>
			<div class="modal__body">
				<form #form="ngForm" (ngSubmit)="send(form)">
					<div class="form-row">
						<div class="form-group col-lg-12 col-md-12 col-sm-12 col-12">
							<label for="produto">Produto: <span class="text-danger">*</span></label>
							<select class="form-control" name="produto" id="produto"
								#produto="ngModel" [(ngModel)]="objeto.produto" required>
								<option [ngValue]="item" *ngFor="let item of produtos">{{ item.descricao }}
								</option>
							</select>
							<div *ngIf="produto.touched && produto.errors">
								<p *ngIf="produto.errors['required']">Esse campo é obrigatório</p>
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-lg-8 col-md-8 col-sm-8 col-8">
							<label for="tributacao">Tributacao: <span class="text-danger">*</span></label>
							<select class="form-control" name="tributacao" id="tributacao" #tributacao="ngModel"
								[(ngModel)]="objeto.tributacao" required>
								<option [ngValue]="item" *ngFor="let item of tributacoes">{{ item.nome }}</option>
							</select>
							<div *ngIf="tributacao.touched && tributacao.errors">
								<p *ngIf="tributacao.errors['required']">Esse campo é obrigatório</p>
							</div>
						</div>
						<div class="form-group col-lg-4 col-md-4 col-sm-4 col-4">
							<label for="aliquota">Aliquota: </label>
							<input class="form-control" name="aliquota" id="aliquota" #aliquota="ngModel"
								[(ngModel)]="objeto.tributacao!.aliquota!" placeholder="00,00%" mask="separator.5"
								[dropSpecialCharacters]="false" thousandSeparator="." suffix="%">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-lg-6 col-md-6 col-sm-6 col-6">
							<label for="rentabilidade">Rentabilidade: <span class="text-danger">*</span></label>
							<input type="text" 
								class="form-control" 
								placeholder="00,00%" 
								mask="separator.5" 
								thousandSeparator="." 
								suffix="%" 
								[dropSpecialCharacters]="false" 
								[allowNegativeNumbers]="true"
								id="rentabilidade" 
								name="rentabilidade"
								#rentabilidade="ngModel" 
								[(ngModel)]="objeto.rentabilidade" 
								(keyup.arrowup)="objeto.rentabilidade = arrowUp(rentabilidade.value)" 
								(keyup.arrowdown)="objeto.rentabilidade = arrowDown(rentabilidade.value, true)"
								required
								[ngbPopover]="popContent" triggers="mouseenter:mouseleave" >
							
						
							<div *ngIf="rentabilidade.touched && rentabilidade.errors">
								<p *ngIf="rentabilidade.errors['required']">Esse campo é obrigatório</p>
								<p *ngIf="rentabilidade.errors['mask']">Valor inválido</p>
							</div>
						</div>
						<div class="form-group col-lg-6 col-md-6 col-sm-6 col-6">
							<label for="montanteAtual">Montante: <span class="text-danger">*</span></label>
							<input type="text" 
								class="form-control" 
								mask="separator.5" 
								[dropSpecialCharacters]="false" 
								thousandSeparator="." 
								prefix="R$ "
								id="montanteAtual" 
								name="montanteAtual"
								#montanteAtual="ngModel" 
								[(ngModel)]="objeto.montanteAtual" 
								placeholder="R$ 00,00" 
								(keyup.arrowup)="objeto.montanteAtual = arrowUp(montanteAtual.value)" 
								(keyup.arrowdown)="objeto.montanteAtual = arrowDown(montanteAtual.value)"
								required
								[ngbPopover]="popContent" triggers="mouseenter:mouseleave"
							>
							<div *ngIf="montanteAtual.touched && montanteAtual.errors">
								<p *ngIf="montanteAtual.errors['required']">Esse campo é obrigatório</p>
								<p *ngIf="montanteAtual.errors['mask']">Valor inválido</p>
							</div>
						</div>
					</div>
					<div class="d-flex justify-content-between col-lg-12 flex-wrap p-0">
						<ul *ngIf="erro">
							<li class="text-red" *ngFor="let err of erro">{{err}}</li>
						</ul>
						<div class="d-flex col-sm-12 ml-auto mt-3 px-0">
							<button type="submit" class="btn btn-primary ml-auto mr-0"
								[disabled]="form.invalid || loading">
								<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> Salvar
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<ng-template #popContent> 
	Acione as seta para cima ou para baixo no teclado para mudar o valor
</ng-template>