<div class="modal" [class.active]="modalOpen">
    <div class="modal__bg" (click)="voltar()"></div>
    <div class="modal__inner">
        <div class="modal__content">
            <div class="modal__header">
                <h3 class="text-orange">
                    <strong>Meus dados</strong>
                </h3>
                <a (click)="voltar()" class="modal__header-close btn-close">
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div class="modal__body">
                <form #form="ngForm" (ngSubmit)="create(form)">
                    <div class="form-row">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                            <div class="form-floating">
                                <input type="nome" class="form-control" id="nome" name="nome" #nome="ngModel"
                                    [(ngModel)]="objeto.nome" placeholder="   " required>
                                <label for="nome">
                                    <span>Nome completo <span class="text-danger">*</span></span>
                                </label>
                            </div>
                            <div *ngIf="nome.errors != null && nome.touched" class="pl-2 pt-2 pb-0">
                                <p class="text-danger" *ngIf="nome.errors['required']">Esse campo é obrigatório</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                          <div class="form-floating">
                            <input type="celular" celular class="form-control" id="celular" name="celular"
                            #celular="ngModel" [(ngModel)]="objeto.celular" mask="(00) 0000-0000||(00) 0.0000-0000"
                            [hiddenInput]="false" placeholder="(11) x.0000-0000" required>
                        <label for="celular">
                            <span>Telefone/Celular <span class="text-danger">*</span></span>
                        </label>
                          </div>
                            <div *ngIf="celular.errors != null && celular.touched" class="pl-2 pt-2 pb-0">
                                <p class="text-danger" *ngIf="celular.errors['required']">Esse campo é obrigatório</p>
                                <p class="text-danger" *ngIf="celular.errors['mask']">Telefone/celular inválido</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                           <div class="form-floating">
                            <input type="email" email class="form-control" id="email" name="email" #email="ngModel"
                            [(ngModel)]="objeto.email" placeholder="example@gmail.com" required>
                        <label for="email">
                            <span>E-mail <span class="text-danger">*</span></span>
                        </label>
                           </div>
                            <div *ngIf="email.errors != null && email.touched" class="pl-2 pt-2 pb-0">
                                <p class="text-danger" *ngIf="email.errors['required']">Esse campo é obrigatório</p>
                                <p class="text-danger" *ngIf="email.errors['email']">E-mail inválido</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between col-lg-12 flex-wrap p-0">
                        <ul *ngIf="erro">
                            <li class="text-red" *ngFor="let err of erro">{{err}}</li>
                        </ul>
                        <div class="d-flex col-sm-12 ml-auto mt-3 mr-0 px-0">
                            <a class="btn btn-grey ml-auto mr-1" [routerLink]="['..', 'reset-password']"> 
                                Resetar senha <fa-icon [icon]="faKey" class="ml-1"></fa-icon>
                            </a>
                            <button type="submit" class="btn btn-primary mr-0"
                                [disabled]="form.invalid || loading">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> Salvar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>