<aside class="main-actions" [class.open]="open">
  <div class="main-actions__items">
    <button type="button" class="main-actions__items-btn" title="Home">
      <i class="pi pi-home"></i>
    </button>
    <button type="button" class="main-actions__items-btn" title="Gráficos">
      <i class="pi pi-chart-line"></i>
    </button>
    <button type="button" class="main-actions__items-btn" title="Atualizar">
      <i class="pi pi-refresh"></i>
    </button>
    <button type="button" class="main-actions__items-btn" title="Salvar">
      <i class="pi pi-save"></i>
    </button>
    <button type="button" class="main-actions__items-btn" title="Imprimir">
      <i class="pi pi-print"></i>
    </button>
    <button type="button" class="main-actions__items-btn" title="Ativar modo escuro" (click)="toggleModoEscuro()">
      <i class="pi pi-sun" *ngIf="!modoEscuroAtivado"></i>
      <i class="pi pi-moon" *ngIf="modoEscuroAtivado"></i>
    </button>
  </div>
  <button type="button" class="main-actions__toggle" (click)="toggle()" [title]="open ? 'Fechar' : 'Abrir'">
    <span></span><span></span>
  </button>
</aside>
