.main-actions {
  position: fixed;
  top: 10px;
  display: flex;
  transform: translateX(-50px);
  transition: .3s;
  z-index: 2;
}

.main-actions.open {
  transform: translateX(0);
}

.main-actions__items {
  display: flex;
  flex-flow: column;
  background-color: #146e8d;
  align-items: center;
  width: 50px;
  padding: 3px 0px;
  box-shadow: 1px 1px 5px 2px #0000001f;
  border-radius: 0 5px 5px 0;
}

.main-actions__items-btn {
  background-color: #ffffff2b;
  border: none;
  color: #ffffffbf;
  padding: 5px;
  font-size: 16px;
  margin: 3px 0px;
  border-radius: 5px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: 0.4s;
}

.main-actions__items-btn:hover {
  color: #fff;
  background-color: #ffffff4a;
}

.main-actions__toggle {
  position: relative;
  top: 12px;
  z-index: 0;
  width: 24px;
  height: 40px;
  background: #3c86a0;
  border-radius: 0 5px 5px 0;
  border: none;
  box-shadow: 3px 1px 7px -2px #00000052;
  color: #ffffffed;
  cursor: pointer;
  transition: .4s;
}

.main-actions__toggle:hover {
  background-color: #258bae;
}

.main-actions__toggle span {
  width: 2px;
  height: 10px;
  background: #ffffffbf;
  position: absolute;
  left: 50%;
  border-radius: 5px;
  transition: .4s;
}

.main-actions__toggle:hover span {
  background-color: #fff;
}

.main-actions__toggle span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -88%) rotate(135deg);
}


.main-actions__toggle span:nth-child(2) {
  bottom: 50%;
  transform: translate(-50%, 72%) rotate(45deg);
}

.main-actions.open .main-actions__toggle span:nth-child(1) {
  transform: translate(-50%, -88%) rotate(225deg);
}

.main-actions.open .main-actions__toggle span:nth-child(2) {
  transform: translate(-50%, 72%) rotate(-45deg);
}
