<div class="loading" [class.active]="loading">
    <span class="spinner-border spinner-border-sm mr-1"></span>
</div>
<button (click)="exportAsPDF()" class="btn btn-primary">exportar</button>
<div>
    <label for="">orientação:</label>
    <input type="text" [(ngModel)]="orientacao">
</div>
<div>
    <label for="">formato:</label>
    <input type="text" [(ngModel)]="format">
</div>
<div>
    <label for="">unit:</label>
    <input type="text" [(ngModel)]="unit">
</div>
<section id="page1" #page1 class="d-flex justify-content-center flex-column text-center px-5 position-relative" style="
                                                                            width: 631pt;
                                                                            height: 446pt;
                                                                            background: rgb(247, 241, 241);">
    <h3 class="text-blue font-weight-bold">OLÁ FULANO</h3>
    <br>
    <h3 class="text-blue font-weight-bold"> Fizemos este estudo com muito carinho, pensando no melhor para VOCÊ. </h3>
    <h3 class="text-blue font-weight-bold"> Esperamos que goste e que seja agregador!!! </h3>
    <div class="d-flex flex-column align-itens-center position-absolute" style="
                                                                    bottom: 20px;
                                                                    left: 50%;
                                                                    right: 50%;
                                                                    width: 90%;
                                                                    transform: translateX(-50%);
                                                                ">
        <p class="text-center text-grey mt-auto" style="line-height: 0.8;">
            <small>Entou ciente que os percentuais e valores apresentados neste documento são meramente ilustrativos e
                não configuram garantias e/ou promessas de retorno, assim como que históricos passados não garantem
                retornos futuros.</small>
        </p>
        <br>
        <div class="w-50 mx-auto">
            <hr style="height: 1px;" class="text-grey">
            <p class="text-center text-grey"><small>Nome e Assinatura</small></p>
        </div>
    </div>
</section>
<section id="page2" #page2 class="d-flex position-relative" style="
                                                                            width: 631pt;
                                                                            height: 446pt;
                                                                            background: red;">
    <h3 class="text-blue font-weight-bold">Principais objetivos:</h3>
    <br>
  
    <div class="d-flex flex-column align-itens-center position-absolute" style="
                                                                    bottom: 2       px;
                                                                    left: 50%;
                                                                    right: 50%;
                                                                    width: 90%;
                                                                    transform: translateX(-50%);
                                                                ">
        <p class="text-center text-grey mt-auto" style="line-height: 0.8;">
            <small>Entou ciente que os percentuais e valores apresentados neste documento são meramente ilustrativos e
                não configuram garantias e/ou promessas de retorno, assim como que históricos passados não garantem
                retornos futuros.</small>
        </p>
        <br>
        <div class="w-50 mx-auto">
            <hr style="height: 1px;" class="text-grey">
            <p class="text-center text-grey"><small>Nome e Assinatura</small></p>
        </div>
    </div>
</section>