<div class="modal" [class.active]="modalOpen">
	<div class="modal__bg" (click)="voltar()"></div>
	<div class="modal__inner" style="max-width: 600px;">
		<div class="modal__content">
			<div class="modal__header">
				<h3 class="text-orange">Adicionar objetivo</h3>
				<a (click)="voltar()" class="modal__header-close btn-close">
					<span></span>
					<span></span>
				</a>
			</div>
			<div class="modal__body">
				<form #form="ngForm" (ngSubmit)="send(form)">
					<div class="form-row">
						<div class="form-group col-lg-12 col-md-12 col-sm-12 col-12">
							<label for="objetivo">Objetivo: <span class="text-danger">*</span></label>
							<textarea class="form-control" name="objetivo" id="objetivo"
								#objetivo="ngModel" [(ngModel)]="objeto" required>
							</textarea>
							<div *ngIf="objetivo.touched && objetivo.errors">
								<p *ngIf="objetivo.errors['required']" class="text-danger">Esse campo é obrigatório</p>
							</div>
						</div>
					</div>
					<div class="d-flex justify-content-between col-lg-12 flex-wrap p-0">
						<ul *ngIf="erro">
							<li class="text-red" *ngFor="let err of erro">{{err}}</li>
						</ul>
						<div class="d-flex col-sm-12 ml-auto mt-3 px-0">
							<button type="submit" class="btn btn-primary ml-auto mr-0"
								[disabled]="form.invalid || loading">
								<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> Salvar
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<ng-template #setaUpDown> 
	<div class="py-3 px-4">
        Acione a seta para cima ou para baixo no teclado para mudar o valor
    </div>
</ng-template>

<ng-template #campoObrigatorio> 
	<div class="py-3 px-4">
        Esse campo é obrigatório
    </div>
</ng-template>