<div class="editable">
  <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-12 col-12">
      <div class="container bg-white border p-2">
        <div class="form-row">
          <div class="form-group col-lg-9 col-md-9 col-sm-9 col-9">
            <label for="nome">Nome Completo:</label>
            <input type="text" class="form-control" id="nome" name="nome" #nome>
          </div>
          <div class="form-group col-lg-3 col-md-3 col-sm-3 col-3">
            <label for="idade">Idade:</label>
            <input type="text" id="idade" name="idade" class="form-control">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-lg-6 col-md-6 col-sm-6 col-6">
            <label for="receitas">Receitas:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">R$</div>
              </div>
              <input type="text" class="form-control" id="receitas" name="receitas" placeholder="00,00">
            </div>
          </div>
          <div class="form-group col-lg-6 col-md-6 col-sm-6 col-6">
            <label for="despesas">Despesas:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">R$</div>
              </div>
              <input type="text" class="form-control" id="despesas" name="despesas" placeholder="00,00">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-lg6 col-md-6 col-sm-12 col-12">
            <label for="">Selic/DI</label>
            <input type="text" class="form-control" placeholder="00,00">
          </div>
          <div class="form-group col-lg6 col-md-6 col-sm-12 col-12">
            <label for="">IPCA Médio</label>
            <input type="text" class="form-control" placeholder="00,00">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-12 col-12">
      <div class="container bg-white border p-2">
        <div class="form-row">
          <div class="form-group col-lg-7 col-md-6 col-sm-4 col-8">
            <label for="">Perfil de Investidor:</label>
            <select name="" id="" class=" form-control">
            </select>
          </div>
          <div class="form-group col-lg-5 col-md-5 col-sm-4 col-4">
            <label for="">Capacidade de Risco:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">R$</div>
              </div>
              <input type="text" class="form-control" id="" name="" placeholder="00,00">
            </div>
          </div>
        </div>
        <br>
        <div class="form-row">
          <div class="form-container col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="form-container-title font-weight-bold">Reserva de Emergência</div>
            <div class="form-container-body">
              <div class="form-group col-lg-6 col-md-6 col-sm-6 col-6">
                <label for=""> Sugerida:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">R$</div>
                  </div>
                  <input type="text" class="form-control" id="" name="" placeholder="00,00">
                </div>
              </div>
              <div class="form-group col-lg-6 col-md-6 col-sm-6 col-6">
                <label for=""> Planejada:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">R$</div>
                  </div>
                  <input type="text" class="form-control" id="" name="" placeholder="00,00">
                </div>
              </div>
            </div>
          </div>
          <div class="form-container col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="form-container-title font-weight-bold">Risco</div>
            <div class="form-container-body">
              <div class="form-group col-lg-6 col-md-6 col-sm-6 col-6">
                <label for=""> Assumido:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">R$</div>
                  </div>
                  <input type="text" class="form-control" id="" name="" placeholder="00,00">
                </div>
              </div>
              <div class="form-group col-lg-6 col-md-6 col-sm-6 col-6">
                <label for=""> Tolerado:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">%</div>
                  </div>
                  <input type="text" class="form-control" id="" name="" placeholder="00,00">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-container bg-white border mt-3 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="form-container-title">
      <p class="font-weight-bold">Cálculos</p>
    </div>
    <div class="form-container-baixo">
      <table class="table table-editable">
        <thead>
          <tr>
            <th>
              <button class="btn btn-clear-table">Limpar</button>
            </th>
            <th>Baixíssimo</th>
            <th>Baixo</th>
            <th>Moderado</th>
            <th>Arrojado</th>
            <th>Super Arrojado</th>
            <th>Hedge</th>
            <th>Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of values">
            <th class="px-3 font-weight-bold text-right">{{item.tipo}}</th>
            <td>
              <input type="text" class="form-control" id="baixissimo" name="baixissimo" #baixissimo="ngModel" [(ngModel)]="item.baixissimo">
            </td>
            <td>
              <input type="text" class="form-control" id="baixo" name="baixo" #baixo="ngModel" [(ngModel)]="item.baixo">
            </td>
            <td>
              <input type="text" class="form-control" id="moderado" name="moderado" #moderado="ngModel" [(ngModel)]="item.moderado">
            </td>
            <td>
              <input type="text" class="form-control" id="arrojado" name="arrojado" #arrojado="ngModel" [(ngModel)]="item.arrojado">
            </td>
            <td>
              <input type="text" class="form-control" id="superArrojado" name="superArrojado" #superArrojado="ngModel" [(ngModel)]="item.superArrojado">
            </td>
            <td>
              <input type="text" class="form-control" id="hedge" name="hedge" #hedge="ngModel" [(ngModel)]="item.hedge">
            </td>
            <td>
              <input type="text" class="form-control" id="total" name="total" #total="ngModel" [(ngModel)]="item.total">
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
