.form-container {
  background-color: #fbfbfb;
  position: relative;
  border: 1px #cdcdcd solid;
  margin-bottom: 15px;
}

.form-container-title {
  transform: translateY(-40%);
  background: #fbfbfb;
  display: inline-block;
  padding: 2px 8px;
  border: 1px #cdcdcd solid;
}

.form-container-body {
  display: flex;
  margin: 0 8px;
  flex-wrap: wrap;
}

.form-container-body .form-group {
  padding: 0 15px 0 0;
}

.table-editable td {
  padding: 0;
  vertical-align: middle;
}

.table-editable td .form-control {
  border-radius: 0;
  border: none;
  cursor: pointer;
}

.table-editable td .form-control:focus {
  box-shadow: 0px 36px 1px 1px rgb(202, 233, 244) inset;
}

.table-editable th {
  padding: 7px 9px;
  border: none;
  background-color: var(--primary);
  color: #fff;
  text-shadow: 1px 2px 4px #0000004e;
}

.table-editable .subheader,
.table-editable .subheader th {
  background: var(--primary-light);
}


.btn-clear-table {
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 0;
  font-weight: bold;
  background: #ffffff17;
}

.overflow-x-auto::-webkit-scrollbar-thumb,
.table::-webkit-scrollbar-thumb {
  background: #595858;
}

tbody.tbody-border {
  position: relative;
}

tbody.tbody-border>span.border {
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  border: 1px #6e6e6e solid;
  content: '';
  z-index: 0;
}


tbody.tbody-border tr {
  z-index: 1;
  position: relative;
}

.table .tbody-border+.tbody-border {
  border-top: 0px solid #dee2e6;
}

.overflow-x-auto::-webkit-scrollbar,
.table-responsive::-webkit-scrollbar {
  height: 9px;
}

.overflow-x-auto {
  overflow-x: auto;
}

.bg-light {
  background-color: #ececed !important;
}

.table>:not(:first-child) {
  border-top: none;
}


.home__container {
  margin: 0 0 8px;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.dark .home__container {
  background: #262626;
  border: 1px #373737 solid;
}

.dark * {
  color: #fff;
}

.dark .form-control::placeholder {
  color: #969696;
}

.dark .form-control {
  background-color: #373737;
  border-color: #454343;
}

.dark label {
  color: #d7d7d7;
}

.dark .input-group-text {
  background-color: #262626;
  border-color: #454343;
  background-color: #1d1b1b;
  color: #d7d7d7;
}

.dark .table-editable th {
  background-color: #1d1b1b;
}
